<form autocomplete="off" class="my-popup-form">
  <p id="some_element">{{localize "your-module-name.my-popup-form.sometext"}}</p>
  <p>My Option is: {{myoption}} </p>
  <p>My Number is: {{mynumber}} </p>
  <button type="button" name="submit">
    <i class="fas fa-save"></i> Submit
  </button>
</form>
